<nav>
  <ul>
    <li><%= link_to "MUSIC", posts_path %><p> / </p></li> 
    <li><%= link_to "DESIGN", posts_path %><p> / </p></li> 
    <li><%= link_to "PODCAST", posts_path %><p> / </p></li> 
    <li><%= link_to "VISUAL", posts_path %><p> / </p></li> 
    <li><%= link_to "GALLERY", posts_path %><p> / </p></li>
    <li><%= link_to "EVENTS", posts_path %><p> / </p></li>
    <li><%= link_to "SHOP", posts_path %></li>
  </ul>
</nav>