<div id="in-post-content">
<p>
  <%= @post.title %>
</p>

<div>
  <%= link_to image_tag(@post.image) %>
</div>

<p>
  <%= @post.text %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
<%= link_to 'Delete Post?', @post, :confirm => "Are you sure you want to delete?", :method => :delete %>
</div>